*{
    font-family: sans-serif;
}

body{
    
    background: rgb(28,28,28);
    background: linear-gradient(90deg, rgba(28,28,28,1) 0%, rgba(47,47,47,1) 25%, rgba(60,60,60,1) 76%, rgba(41,41,41,1) 100%);

}

.outer-div{
    margin: 0 auto;
    width: 60%;
    text-align: left;
}

.info-div{
    margin-top: 40px;
}
h1{
    color: white;
    font-size: 28px;
}
.intern-info{
    margin-top: 50px;
    color: white;
    text-align: left;
    font-size: 17px;
}

h3{
    color: white;
    font-size: 19px;
    margin-top: 40px;
}

.table-div{
    color: white;
    margin-top: 40px;

}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    font-size: 16px;
    background-color: #dfdfdf;
    background-color: rgb(32, 32, 32);
    padding: 10px;
}

td{
    font-size: 14px;
    padding: 10px;
    
}

tr:not(:first-child) {
    border-bottom: 0.1px solid rgb(255, 255, 255);
}



.table-column-heading{
    height: 40px;
}

a, a:visited{
    color: rgb(253, 253, 253);

  text-decoration: none;
  display: inline-block;
}





